html {
	width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align:center;
}

h1 {
  font-weight: 300;
  font-size: 56px;
  padding-top: 60px;
}

p {
	font-weight: 400;
}

ul {
	list-style-type: none;
}

img {
	height: 100px;
	width: 100px;	
}

button:hover {
	color:#5E5E5E;
	cursor: pointer;
}

.finalist {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
}

.header {
	float: center;
}

.girls .header h2 {
	color: #FFA800;
}

.boys .header h2 {
	color: #50BBFF;
}

.boys {
	float: left;
}

.girls {
	float: right;
}

.boys table {
	padding-left: 150px;
}

.girls table {
	padding-right: 150px;
}