body {
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;
	font-family: 'Titillium Web', sans-serif;
}

.main-content h1 {
	font-weight: 600;
	color: white;
	text-align: center;
}