html, body{
  height: 100%;
}
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
a {
  color: #ECF0F1;
  text-decoration: none;
  cursor: pointer;
  transition: text-shadow .25s;
  opacity: 1;
}
a:hover {
  text-shadow: 0px 0px 7px #ECF0F1;
}
.navButton {
  font-size: 80px;
}
.navButton h2{
  font-size: 20px;
}
.flex-container {
  background-color: #56D6C2;
  display: flex;
  padding-left:50px;
  padding-right:50px;
  margin: auto;
}
.navButton {
  flex: 1;
}
.homeButton {
  flex: 4;
  text-align: left;
}
.hardwareButton, .mentorsButton {
  flex: 1;
  text-align: center;
}
.jumbotron{
  text-align: center;
}
.jumbotron h1{
  font-size: 50px;
}

.intro h1, .intro p {
  color: #AFAFAF;
}